<form [formGroup]="form" (ngSubmit)="onSubmitForm()" class="p-4">
  <h1>{{labels?.header}}</h1>
  <div class="row">
    <div class="col-8 col-xxl-10">
      <div class="form-group mb-3">
        <label for="input">{{labels?.input}}</label>
        <textarea id="input" formControlName="input" class="form-control" rows="5"></textarea>
      </div>
    </div>
    <div class="col-4 col-xxl-2">
      <div class="form-group mb-3">
        <label for="key">{{labels?.key}}</label>
        <input type="number" id="key" formControlName="key" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{labels?.button}}</button>
    </div>
    <div class="form-group">
      <label for="output">{{labels?.output}}</label>
      <textarea id="output" formControlName="output" class="form-control" rows="5"></textarea>
    </div>
  </div>
</form>
